*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    background-color: var(--darkBlue);
}

button {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    cursor: pointer;
}