.modal_thankyou .logo {
    padding: 2rem;
    margin-right: initial;
    background-color: none;
}

.rate-info {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: var(--orange);
    background-color: var(--darkBlue);
}

.rate-counter {
    font-weight: 700;
}

.modal_thankyou .modal__text {
    text-align: center;
}