:root {
    --white: hsl(0, 0%, 100%);
    --orange: hsl(25, 97%, 53%);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    --lightGray: hsl(217, 12%, 63%);
    --midGrey: hsl(216, 12%, 54%);

    --maxMobileWidth: 375px;
    --maxDesktopWidth: 1440px;

    --fontSizeBody: 15px;
}