:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-300: hsl(270, 3%, 87%);
    --clr-neutal-600: hsl(279, 6%, 55%);

    --clr-accent-400: hsl(0, 100%, 66%);
    --clr-accent-900: hsl(278, 68%, 11%);
    --linearGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --max-width-desktop: 1110px;

    --ff-primary: 'Space Grotesk', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
    --fs-body: var(--fs-300);

    --fs-100: 0.56rem;
    --fs-200: 0.75rem;
    --fs-300: 1rem;
    --fs-400: 1.12rem;
    --fs-500: 1.75rem;

    --fw-regular: 500;
    --fw-bold: 600;
}

@media screen and (min-width:570px) {
    :root {
        --fs-100: var(--fs-200);
        --fs-200: var(--fs-300);
        --fs-400: var(--fs-600);
    }
}

/* Utility classes*/
.visually-hidden {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1;
    height: 1;
    overflow: hidden;
}

.hidden {
    display: none;
}

/*Overall styles*/
body {
    max-width: var(--max-width-desktop);
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

@media screen and (min-width: 750px) {
    main {
        align-self: stretch;
        display: flex;
        gap: 2rem;
    }
}

.card {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(10, 0.5fr);
}

@media screen and (min-width: 750px) {
    .card {
        flex: 1;
        grid-template-rows: repeat(4, 0.5fr);
        grid-gap: 1rem 0;

    }
}

.card__background {
    grid-area: 1 / 1 / 11 / 14;
    background: url("../images/bg-main-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 750px) {
    .card__background {
        grid-area: 1 / 1 / 11 / 8;
    }
}

.card__back {
    grid-area: 2 / 3 / 9 / 10;
}

@media screen and (min-width: 750px) {
    .card__back {
        grid-area: 3 / 3 / 4 / 11;
    }
}

.card__front {
    grid-area: 6 / 2 / 13 / 9;
}

@media screen and (min-width: 750px) {
    .card__front {
        grid-area: 2 / 2 / 3/ 10;
    }
}

.card__back,
.card__front {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 0.15fr 1fr 0.15fr;
}

.card__back img,
.card__front img {
    align-self: stretch;
    grid-area: 1 / 1 / 4 / 4;
}


.card__back .card__detail {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    justify-self: right;
}

.card__front .card__logo {
    max-width: 30%;
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-end;
}

.card__front .card__number {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-end;
}

.card__front .card__cardholder {
    max-width: 75%;
    grid-area: 3 / 2 / 4 / 3;
    align-self: center;
    justify-self: flex-start;
}

.card__front .card__wrapper {
    grid-area: 3 / 2 / 4 / 3;
    align-self: center;
    justify-self: flex-end;
    display: flex;
}


@media screen and (min-width: 750px) {
    .form {
        flex: 1;
        align-self: center;
    }
}

.form__input--error {
    outline: 2px solid var(--clr-accent-400);
}

.form__error {
    color: var(--clr-accent-400);
}