:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-300: hsl(270, 3%, 87%);
    --clr-neutal-600: hsl(279, 6%, 55%);
    --clr-accent-400: hsl(0, 100%, 66%);
    --clr-accent-900: hsl(278, 68%, 11%);
    --linearGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);

    --ff-primary: 'Space Grotesk', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fs-100: 0.56rem;
    --fs-200: 0.75rem;
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 1.75rem;

    --fw-regular: 400;
    --fw-bold: 600;
}

@media screen and (min-width:570px) {
    :root {
        --fs-100: 0.75rem;
        --fs-200: 1rem;
        --fs-300: 1.25rem;
        --fs-400: 1.75rem;
    }
}

body {
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    font-family: var(--ff-primary);
}


@media screen and (min-width: 750px) {
    main {
        align-content: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 0 2rem;
    }
}

.card {
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(10, 0.5fr);
}

@media screen and (min-width: 750px) {
    .card {
        grid-template-rows: repeat(2, 0.20fr) repeat(2, 0.45fr) 0.10fr repeat(2, 0.45fr) repeat(2, 0.20fr);
    }
}

.card__background {
    grid-area: 1 / 1 / 11 / 14;
    background: url("../images/bg-main-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (min-width: 750px) {
    .card__background {
        grid-area: 1 / 1 / 13 / 8;
    }
}

.card__back {
    grid-area: 2 / 3 / 9 / 10;
}

@media screen and (min-width: 750px) {
    .card__back {
        grid-area: 6 / 4 / 8 / 14;
    }
}

.card__front {
    grid-area: 6 / 2 / 13 / 9;
}

@media screen and (min-width: 750px) {
    .card__front {
        grid-area: 3 / 3 / 5 / 10;

    }
}

.card__back,
.card__front {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 0.15fr 1fr 0.15fr;
    font-size: var(--fs-200);
    font-weight: var(--fw-regular);
    text-transform: uppercase;
    color: var(--clr-neutral-100);
}

.card__img {
    place-self: stretch;
    grid-area: 1 / 1 / 4 / 4;
}

.card__cvc {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
    justify-self: right;
}

.card__logo {
    max-width: 30%;
    grid-area: 1 / 2 / 2 / 3;
    align-self: flex-end;
}

.card__number {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-end;
    font-size: var(--fs-300);
}

.card__cardholder {
    max-width: 75%;
    grid-area: 3 / 2 / 4 / 3;
    align-self: center;
    justify-self: flex-start;
}

.card-detail-wrapper {
    grid-area: 3 / 2 / 4 / 3;
    align-self: center;
    justify-self: flex-end;
    display: flex;
}

.card__month::after {
    content: "/";
}

.form-wrapper {
    align-self: center;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
}

.form-card {
    max-width: 32rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.control-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form__label {
    margin-bottom: 0.25rem;
    font-size: var(--fs-200);
    text-transform: uppercase;
}

.form__input {
    padding: 0.5rem;
    font-size: var(--fs-300);
    border: 1px solid var(--clr-neutral-300);
    border-radius: 0.5rem;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form__input::placeholder {
    font-size: inherit;
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-300);
}

.form__input--error {
    outline: 2px solid var(--clr-accent-400);
}

.form__error {
    color: var(--clr-accent-400);
}

.control-wrapper-row {
    display: flex;
    gap: 1.5rem;
}

.first-row,
.second-row {
    width: 50%;
}

.wrapper-date {
    display: flex;
    gap: 1rem;
}

.input__date {
    display: block;
    width: 100%;
}

.submit__button {
    align-self: stretch;
    padding: 1rem;
    font-weight: var(--fw-regular);
    border: none;
    border-radius: 0.5rem;
    color: var(--clr-neutral-100);
    background-color: var(--clr-accent-900);
}

.submit__button:hover {
    border: 1px solid var(--clr-accent-900);
    color: var(--clr-accent-900);
    background-color: var(--clr-neutral-100);
    transition: all 0.15s ease-in;
    cursor: pointer;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 2rem;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: var(--fw-bold);
}

.text-wrapper p:first-child {
    font-size: var(--fs-400);
    text-transform: uppercase;
}

.text-wrapper p:last-child {
    color: var(--clr-neutral-300);
}

.hidden {
    display: none;
}