:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-300: hsl(270, 3%, 87%);
    --clr-neutal-600: hsl(279, 6%, 55%);

    --clr-accent-400: hsl(0, 100%, 66%);
    --clr-accent-900: hsl(278, 68%, 11%);
    --linearGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --max-width-desktop: 1110px;

    --ff-primary: 'Space Grotesk', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
    --fs-body: var(--fs-300);

    --fs-100: 0.56rem;
    --fs-200: 0.75rem;
    --fs-300: 1rem;
    --fs-400: 1.12rem;
    --fs-500: 1.75rem;

    --fw-regular: 500;
    --fw-bold: 600;
}

@media screen and (min-width:570px) {
    :root {
        --fs-100: var(--fs-200);
        --fs-200: var(--fs-300);
        --fs-400: var(--fs-600);
    }
}

/* Utility classes*/
.visually-hidden {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1;
    height: 1;
    overflow: hidden;
}

.hidden {
    display: none;
}

/*Overall styles*/
body {
    max-width: var(--max-width-desktop);
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    place-items: center;
    align-items: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

.card {
    padding: 1rem;
    position: relative;
    background-image: url("../images/bg-main-mobile.png");
}

.card__back,
.card__front {
    display: grid;
    align-items: center;
    grid-template-columns: 0.15fr 1fr 0.15fr;
    grid-template-rows: repeat(3, 1fr);
}

.card__back img,
.card__front img {
    grid-area: 1 / 1 / 4 / 4;
}


.card__back .card__detail {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: right;
}

.card__front .card__logo {
    grid-area: 1 / 2 / 2 / 3;
}

.card__front .card__number {
    grid-area: 2 / 2 / 3 / 3;
    align-self: flex-end;
}

.card__front .card__cardholder {
    grid-area: 3 / 2 / 4 / 3;
    max-width: 60%;
    justify-self: flex-start;
}

.card__front .card__wrapper {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    justify-self: flex-end;
}

.form__input--error {
    outline: 2px solid var(--clr-accent-400);
}

.form__error {
    color: var(--clr-accent-400);
}