body {
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.hero {
    text-align: center;
}

.btn-open-menu {
    padding: 1rem;
    background-image: url("../images/icon-menu.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.btn-close-menu {
    padding: 1rem;
    background-image: url("../images/icon-close-menu.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.nav-mobile-active {
    position: absolute;
    right: 0;
    width: 70%;
    height: 100%;
    text-align: right;
    background-color: var(--lightWhite);
}

.navigation-desktop {
    display: none;
}

.hidden {
    display: none;
}

li {
    padding: 0 1rem;
}

.sub-menu::before {
    position: absolute;
    right: 0;
    content: url("../images/icon-arrow-down.svg");
}

.dropdown {
    display: none;
}

.dropdown-show {
    display: block;
}

@media screen and (min-width: 550px) {
    .navigation-mvl {
        display: none;
    }

    .navigation-desktop {
        display: block;
    }
}