html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: var(--fontSize);
    background: rgb(101, 101, 231);
    background: linear-gradient(0deg, rgba(101, 101, 231, 1) 0%, rgba(175, 103, 233, 1) 100%);
}

main {
    min-height: 100%;
    padding: 0 1rem;
}

ul {
    list-style: none;
}