html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    max-width: var(--maxDesktopWidth);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: var(--fontSize);
    background: rgb(101, 101, 231);
    background: linear-gradient(0deg, rgba(101, 101, 231, 1) 0%, rgba(175, 103, 233, 1) 100%);
}

footer {
    position: absolute;
    bottom: 0;
    padding: 0.50rem;
    font-size: 80%;
    text-align: center;
    color: var(--midGrey);
}

footer a {
    text-decoration: none;
    color: var(--white);
}