.accordion {
    position: relative;
    max-width: 300px;
    margin: 9rem auto 0 auto;
    padding: 6rem 1rem 2rem 1rem;
    border-radius: 1rem;
    background-color: var(--white);
}

.logo-outer-wrapper {
    position: absolute;
    top: -8rem;
}

.logo-inner-wrapper {
    position: relative;
    padding: 2rem;
    background-image: url("../images/bg-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 120px;
}

.logo-img {
    width: 100%;
}

.box-img {
    position: absolute;
    width: 35%;
    left: 0.5rem;
    top: 5rem;
}

.accordion-text-wrapper>h1 {
    margin: 2rem 0;
    font-size: 1.25rem;
    text-align: center;
}

.accordion-list {
    align-self: stretch;
}

.accordion__item {
    margin: 0 auto;
    max-width: 245px;
    padding: 1.5rem 0;
    border-bottom: 0.1px solid var(--lightGrayish);
    color: var(--grayishBlue);
    cursor: pointer;
}

.accordion-title {
    padding-right: 1.5rem;
    position: relative;
}

.accordion-title:hover {
    color: var(--softRed);
}

.accordion-title::after {
    position: absolute;
    right: 0;
    content: url("../images/icon-arrow-down.svg");
}

.accordion-title-active {
    font-weight: 600;
    color: var(--darkDesaturated);
}

.accordion-title-active::after {
    position: absolute;
    right: 0;
    content: url("../images/icon-arrow-down.svg");
    transform: rotate(180deg);
}

.accordion-text {
    display: none;
}

.accordion-text-show {
    margin-top: 1rem;
    display: block;
    transition: 0.5s;
}

@media screen and (min-width: 550px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accordion {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: initial;
        padding: 2rem;
        height: 30rem;
        max-width: calc(var(--maxWidthMobile)*2);
        background-image: url("../images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position-x: -40rem;
        background-position-y: -20rem;
    }

    .logo-outer-wrapper {
        position: initial;
        flex: 1;
    }

    .logo-inner-wrapper {
        padding: initial;
        background-image: initial;
        left: -4rem;
    }

    .logo-img {
        position: initial;
    }

    .box-img {
        display: block;
        position: absolute;
        width: 125px;
        top: 6.5rem;
        left: -1.5rem;
    }

    .accordion-text-wrapper {
        flex: 1;
    }

    .accordion-text-wrapper>h1 {
        text-align: left;
        margin-bottom: 0.5rem;
    }

    .accordion__item {
        max-width: initial;
    }
}