:root {
    --maxWidthDesktop: 1440px;
    --minWidthMobile: 375px;

    --white: hsl(0, 0%, 100%);
    --softRed: hsl(14, 88%, 65%);
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);
    --darkDesaturated: hsl(238, 29%, 16%);
    --grayishBlue: hsl(240, 6%, 50%);

    --fontSize: 12px;
}