/*Variables*/
:root {
    --clr-primary-100: hsl(0, 0%, 100%);
    --clr-primary-200: hsl(227, 100%, 98%);

    --clr-neutral-400: hsl(217, 20%, 51%);
    --clr-neutral-500: hsl(217, 35%, 45%);

    --clr-accent-600: hsl(212, 100%, 50%);
    --clr-accent-800: hsl(217, 21%, 21%);

    --clr-primaryDardMode-800: hsl(222, 41%, 20%);
    --clr-primaryDarkMode-900: hsl(220, 40%, 13%);

    --clr-accentDarkMode-100: hsl(0, 0%, 100%);
    --clr-accentDarkMode-600: hsl(212, 100%, 50%);

    --max-width-desktop: 1100px;

    --ff-primary: 'Space Mono', monospace;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
    --fs-body: var(--fs-300);

    --fs-100: 0.6875rem;
    --fs-200: 0.812rem;
    --fs-300: 0.937rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.375rem;
    --fs-700: 1.625rem;

    --lh: 25px;

    --fw-regular: 400;
    --fw-bold: 700;
}


/*Utility classes*/
.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.container {
    --max-width: 1110px;
    --padding: 1rem;
    width: min(var(--max-width), 100% - (var(--padding)*2));
    margin-inline: auto;
}

.button {
    border: none;
    border-radius: 100vmax;
    padding: 0.5rem 1rem;
}


/*Root media queries*/
@media screen and (min-width:573px) {
    :root {
        --fs-100: var(--fs-200);
        --fs-200: var(--fs-300);
        --fs-400: var(--fs-600);
    }
}

@media screen and (min-width:730px) {}


/*General Styles*/

body {
    max-width: var(--max-width-desktop);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

ul {
    list-style: none;
}

.form__error {
    display: none;
}

.show {
    display: block;
}

.form__submit {
    transition: all 0.2s;
}

.round {
    outline: 1px solid blue;
    transform: rotate(1turn) scale(2);

    border-radius: 5px;
}

/*
https: //developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme
*/