:root {
    --white: hsl(0, 0%, 100%);
    --softPink: hsl(333, 80%, 67%);
    --darkMagenta: hsl(300, 43%, 22%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --darkGrayishMagenta: hsl(303, 10%, 53%);
}