.form {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

fieldset {
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input[type="radio"] {
    position: fixed;
    width: 0;
    opacity: 0;
}

label {
    display: inline-block;
    padding: 1rem 1.25rem;
    border-radius: 100%;
    font-weight: 700;
    color: var(--midGrey);
    background-color: var(--midGreyAplha);
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

label:hover {
    color: var(--white);
    background-color: var(--lightGray);
}

input[type="radio"]:checked+label {
    color: var(--white);
    background-color: var(--orange)
}

input[type="radio"]:focus+label {
    outline: 1px solid var(--orange);
}

.btn-submit {
    align-self: stretch;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--orange);
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.btn-submit:hover {
    color: var(--orange);
    background-color: var(--white);
}