html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    max-width: var(--maxDesktopWidth);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: var(--fontSizeBody);
    background-color: var(--veryDarkBlue);
}