:root {
    --clr-primary-100: hsl(172, 67%, 45%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(189, 41%, 97%);
    --clr-neutral-300: hsl(185, 41%, 84%);
    --clr-neutral-350: hsl(173, 61%, 77%);
    --clr-neutral-400: hsl(184, 14%, 56%);
    --clr-neutral-500: hsl(186, 14%, 43%);
    --clr-neutral-550: hsl(183, 78%, 24%);
    --clr-neutral-600: hsl(183, 100%, 15%);

    --clr-accent-300: hsl(13, 70%, 61%);

    --max-width-desktop: 1110px;

    --ff-primary: 'Space Mono', monospace;
    --ff-body: var(--ff-primary);
    --fs-body: var(--fs-200);

    --fs-100: 0.812rem;
    --fs-200: 1rem;
    --fs-300: 1.500rem;
    --fs-400: 2rem;

    --fw-regular: 400;
    --fw-bold: 600;
}

@media screen and (min-width:750px) {
    :root {
        --fs-400: 3rem;
    }
}

/* Utility classes*/
.visually-hidden {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 1;
    height: 1;
    overflow: hidden;
}

.input-icon {
    position: relative;
    background-position: 1rem center;
    background-repeat: no-repeat;
}

body {
    max-width: var(--max-width-desktop);
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    background-color: var(--clr-neutral-300);
}

main {
    position: relative;
    margin-top: 9rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    border-radius: 1.5rem;
    color: var(--clr-neutral-500);
    background-color: var(--clr-neutral-100);
}

main::before {
    position: absolute;
    width: 5.5rem;
    height: 5.5rem;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background: url("../images/logo.svg");
    background-repeat: no-repeat;
}

@media screen and (min-width:750px) {
    main {
        max-width: 57rem;
        margin-top: 8rem;
        gap: 3rem;
    }
}

form {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width:750px) {
    form {
        flex: 1;
        justify-content: space-between;
    }
}

.control-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.33rem;
}

@media screen and (min-width:750px) {
    .control-wraper {
        gap: 1rem;
    }
}

.form__input-number {
    padding: 0.45rem 1rem 0.45rem 2.5rem;
    /* font-size: var(--fs-300); */
    font-weight: var(--fw-bold);
    border: none;
    border-radius: 0.3rem;
    text-align: right;
    color: var(--clr-neutral-600);
    background-color: var(--clr-neutral-200);
    caret-color: var(--clr-primary-100);
    cursor: pointer;
    -moz-appearance: textfield;
}

.form__input-number:hover {
    outline: 2px solid var(--clr-primary-100);
}

@media screen and (min-width:750px) {
    .form__input-number {
        font-size: var(--fs-300);
    }
}

.form__input-number::-webkit-outer-spin-button,
.form__input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form__label {
    flex-basis: 100%;
    font-weight: var(--fw-bold);
    padding: 0;
}

.input-bill {
    background-image: url("../images/icon-dollar.svg");
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    margin-bottom: 0.33rem;
}

.fieldset__controls {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem 1rem;
}

@media screen and (min-width:750px) {
    .fieldset__controls {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.form-radio {
    position: fixed;
    width: 0;
    opacity: 0;
}

.form-radio+.radio-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem 1rem;
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    text-align: center;
    border-radius: 0.3rem;
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-600);
    cursor: pointer;
}

.form-radio+.radio-label:hover {
    color: var(--clr-neutral-600);
    background-color: var(--clr-neutral-350);
    transition: all 0.12s ease-in;
}

.form-radio:checked+.radio-label {
    color: var(--clr-neutral-600);
    background-color: var(--clr-primary-100);
}

.fieldset__controls .form__input-number {
    width: 100%;
    padding: 0.40rem 1rem;
    text-align: right;
}

.fieldset__controls .form__input-number::placeholder {
    font-family: inherit;
    font-size: inherit;
    font-weight: var(--fw-bold);
}

@media screen and (min-width:750px) {
    .fieldset__controls .form__input-number {
        padding: 0.25rem;
        text-align: right;
    }
}

.input-people {
    background-image: url("../images/icon-person.svg");
}

.input-error {
    outline: 2px solid var(--clr-accent-300);
}

.error {
    display: block;
    position: absolute;
    right: 0;
    text-align: right;
    font-size: var(--fs-100);
    color: var(--clr-accent-300);
}

.panel {
    flex-basis: 100%;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    font-weight: var(--fw-bold);
    background-color: var(--clr-neutral-600);
}

@media screen and (min-width:750px) {
    .panel {
        padding: 2.5rem;
        flex: 1;
        gap: 0.5rem;
    }
}

.panel-row {
    margin-bottom: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-100);
}

@media screen and (min-width:750px) {
    .panel-row {
        margin-bottom: 0;
    }
}

.panel-row p:last-of-type {
    font-size: var(--fs-100);
    color: var(--clr-neutral-400);
}

.panel-output {
    font-size: var(--fs-400);
    color: var(--clr-primary-100);
}

.btn-reset {
    margin-top: 2rem;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0.3rem;
    color: var(--clr-neutral-600);
    background-color: var(--clr-primary-100);
    cursor: pointer;
}

.btn-reset:hover {
    background-color: var(--clr-neutral-350);
}

.btn-reset[disabled=true] {
    background-color: var(--clr-neutral-550);
}

@media screen and (min-width:750px) {
    .btn-reset {
        margin-top: 7.5rem;
    }
}