html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    max-width: var(--maxDesktopWidth);
    font-size: var(--fontSize);
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/bg-intro-mobile.png");
    display: flex;
    align-items: center;
    background-color: var(--red);
}

main {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr repeat(4, 0.5fr);
    justify-items: center;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
}

footer {
    grid-area: 6 / 1 / 7 / 2;
    align-self: flex-end;
    font-size: 80%;
    text-align: center;
    color: var(--midGrey);
}

footer a {
    text-decoration: none;
    color: var(--white);
}