html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    max-width: var(--maxWidthMobile);
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    font-size: var(--fontSize);
    font-family: 'Poppins', sans-serif;
    background-image: url("../images/bg-intro-mobile.png");
    background-color: var(--red);
}

button,
input {
    font-family: inherit;
    font-size: 100%;
}

@media screen and (min-width: 550px) {
    body {
        max-width: var(--maxWidthDesktop);
        background-image: url("../images/bg-intro-desktop.png");
    }
}