.form-component {
    padding: 4rem 1rem 6rem 1rem;
    background-image: url("../images/bg-intro-mobile.png");
    background-color: var(--red);
    color: var(--white);
}

.text-content {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.text-content p:first-child {
    font-size: 1.25rem;
    font-weight: 700;
}

.banner {
    padding: 1rem 3rem;
    margin-bottom: 1.25rem;
    font-size: 0.90rem;
    text-align: center;
    border-radius: 0.50rem;
    color: var(--grayishBlue);
    background-color: var(--blue);
    box-shadow: 0px 5px 5px var(--darkBlue);
}

.banner span {
    font-weight: 600;
    color: var(--white);
}

form {
    padding: 1.25rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0px 3px 5px var(--darkBlue);
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    width: 100%;
    padding: 0.75rem 1rem;
    display: block;
    position: relative;
    align-self: flex-start;
    border: 1px solid var(--grayishBlue);
    border-radius: 0.25rem;
}

input::placeholder {
    font-size: 90%;
    color: var(--darkBlue);
    font-weight: 600;
}

input:invalid {
    border-color: 1px solid var(--red);
}

input:focus:invalid {
    outline: none;
}

.errorFirstName,
.errorLastName,
.errorEmail,
.errorPassword {
    display: none;
    text-align: right;
    font-size: 80%;
    color: var(--red);
}

.active {
    display: block;
}

.input-error {
    background-image: url("../images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 95%;
}

.btn-submit {
    align-self: stretch;
    padding: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 0.25rem;
    font-weight: 500;
    color: var(--white);
    background-color: var(--green);
    box-shadow: 0px 2px 2px var(--green);
}

.btn-submit:hover {
    cursor: pointer;
}

.policy {
    padding: 0 0.25rem;
    font-size: 75%;
    text-align: center;
    color: var(--grayishBlue);
}

.policy span {
    font-weight: 600;
    color: var(--red);
}

@media screen and (min-width: 550px) {
    .form-component {
        padding: 0 2rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .text-content {
        text-align: initial;
        flex: 1;
    }

    .text-content p:first-child {
        font-size: 2rem;
    }

    .form-wrapper {
        flex: 1;
    }

}