:root {
    --maxWidthDesktop: 1440px;
    --minWidthMobile: 375px;

    --white: hsl(0, 0%, 100%);
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --darkBlue: hsl(249, 10%, 26%);
    --grayishBlue: hsl(246, 25%, 77%);

    --fontSize: 16px;
}