:root {
    --clr-primary-100: hsl(174, 77%, 80%);
    --clr-primary-200: hsl(174, 86%, 45%);
    --clr-primary-200--dark: hsl(174, 65%, 41%);
    --clr-primary-300: hsl(14, 92%, 95%);
    --clr-primary-400: hsl(15, 100%, 70%);
    --clr-primary-500: hsl(226, 100%, 87%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(230, 100%, 99%);
    --clr-neutral-300: hsl(224, 65%, 95%);
    --clr-neutral-400: hsl(223, 50%, 87%);
    --clr-neutral-500-soft: hsl(0, 0%, 59%);
    --clr-neutral-500: hsl(225, 20%, 60%);
    --clr-neutral-600: hsl(227, 35%, 25%);

    --max-width-desktop: 1440px;

    --ff-primary: 'Manrope', sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);
    --fs-body: var(--fs-100);

    --fs-100: 0.75rem;
    --fs-200: 0.82rem;
    --fs-300: 0.87rem;
    --fs-400: 1.25rem;
    --fs-500: 2rem;

    --fw-regular: 600;
    --fw-bold: 800;
}

.visually-hidden {
    position: absolute;
    left: 0;
    top: -500px;
    width: 1;
    height: 1;
    overflow: hidden;
}

body {
    max-width: var(--max-width-desktop);
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    place-items: stretch;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

main {
    padding: 1rem 1rem 5rem 1rem;
    background-color: var(--clr-neutral-100);
    background-image: url("../images/bg-pattern.svg");
    background-repeat: no-repeat;
}

.title-wrapper {
    padding: 3rem 0rem;
    margin: 1rem 0 2rem 0;
    text-align: center;
    background-image: url("../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.title-wrapper h1 {
    margin-bottom: 0.25rem;
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-600);
}


.title-wrapper span p {
    font-size: var(--fs-200);
    color: var(--clr-neutral-500);
}

.card {
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: var(--clr-neutral-100);
    box-shadow: 0 4px 4px 0 var(--clr-neutral-500-soft);
}

.card__range {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    border-bottom: 1px solid var(--clr-neutral-300);
}

.card__views {
    font-weight: var(--fw-bold);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--clr-neutral-500);
}

.card__input {
    width: 100%;
    align-self: stretch;
}

input[type=range] {
    -webkit-appearance: none;
    border-radius: 1rem;
    background: var(--clr-neutral-300);
    background-image: linear-gradient(var(--clr-primary-200), var(--clr-primary-200));
    background-repeat: no-repeat;
    cursor: pointer;
}

input[type=range]:active {
    background-image: linear-gradient(var(--clr-primary-200--dark), var(--clr-primary-200--dark));
}

input[type=range]::-webkit-slider-runnable-track {
    height: 0.70rem;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin-top: -16px;
    border-radius: 50%;
    background-color: var(--clr-primary-200);
    background-image: url("../images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 12px 6px 2px var(--clr-primary-100);
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:active {
    background-color: var(--clr-primary-200--dark);
}

.card__cost {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--fs-500);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-600);
}

.card__cost span {
    font-size: var(--fs-300);
    color: var(--clr-neutral-500);
}

.card__toggle {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    color: var(--clr-neutral-500);
}

.button__toggle {

    position: relative;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 100vmax;
    background: transparent;
    cursor: pointer;
}

.button__toggle--monthly {
    background-color: var(--clr-neutral-400);
    transition: .5s;
}

.button__toggle--monthly::after {
    content: "";
    position: absolute;
    left: 0.20rem;
    top: 0.24rem;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--clr-neutral-100);
}

.button__toggle--yearly {
    background-color: var(--clr-primary-200);
    transition: .5s;
}

.button__toggle--yearly::after {
    content: "";
    position: absolute;
    right: 0.20rem;
    top: 0.24rem;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--clr-neutral-100);
}

.card__discount {
    padding: 0.25rem 1rem;
    margin-left: 0.25rem;
    border-radius: 100vmax;
    font-weight: var(--fw-bold);
    color: var(--clr-primary-400);
    background-color: var(--clr-primary-300);
}

.card__submit {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.card__submit ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.62rem;
    text-align: center;
}

.card__submit ul li {
    position: relative;
    color: var(--clr-neutral-500);
}

.card__submit ul li::before {
    content: "";
    padding: 0.5rem 2rem 0.5rem 0;
    background-image: url("../images/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.button__submit {
    width: 10.6rem;
    padding: 1rem 0;
    margin: 0 auto;
    border: none;
    font-weight: var(--fw-regular);
    border-radius: 100vmax;
    color: var(--clr-primary-500);
    background-color: var(--clr-neutral-600);
    cursor: pointer;
}

.button__submit:hover {
    color: var(--clr-neutral-100);
}

@media screen and (min-width:550px) {
    :root {
        --fs-200: 0.93rem;
        --fs-300: 1rem;
        --fs-400: 1.75rem;
        --fs-500: 2.5rem;
    }

    main {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-wrapper,
    .card {
        max-width: 35rem;
    }

    .title-wrapper span p {
        display: inline;
    }

    .card {
        padding: 2rem 3rem;
    }

    .card__range {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .card__views {
        font-size: var(--fs-200);
    }

    .card__input {
        order: 1;
        margin: 1.5rem 0 2.5rem 0;
    }

    .card__toggle {
        order: 2;
        flex-basis: 100%;
    }

    .card__submit {
        flex-direction: row;
        justify-content: space-between;
    }

    .card__submit ul {
        text-align: left;
    }

    .button__submit {
        margin: 0;
    }
}