*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: var(--widthDesktop);
    min-height: 100vh;
    padding: 4.5rem 1.3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fontSize);
    font-family: var(--fontFamily);
    background-color: var(--veryDarkBlue);
}

main {
    display: grid;
    grid-gap: 1.3rem;
}

button {
    font-size: inherit;
    font-family: inherit;
    border: none;
}

@media screen and (min-width: 750px) {
    body {
        padding: 1rem;
        justify-content: center;
    }

    main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        align-items: flex-end;
    }
}