.card-profile {
    border-radius: 1rem;
    color: var(--paleBlue);
    background-color: var(--darkBlue);
}

.card-bio {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border-radius: 1rem;
    background-color: var(--blue);
}

.card-bio img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid var(--white);
}

.card-bio-name {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 1.3rem;
    font-weight: 300;
}

.card-bio-name span:first-child {
    font-size: 0.8rem;
}

.card-bio-name span:last-child {
    color: var(--white);
}

.card-timeframes {
    display: flex;
    background: transparent;
}

.button-timeframe {
    flex: 1;
    padding: 1.5rem 0;
    background: transparent;
    color: var(--paleBlue);
}

.button-timeframe:hover {
    color: var(--white);
}

.card {
    padding-top: 2.5rem;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: 95% top;
}

.work {
    background-color: #FF8B64;
    background-image: url("../images/icon-work.svg");
}

.play {
    background-color: #55C2E6;
    background-image: url("../images/icon-play.svg");
}

.study {
    background-color: #FF5E7D;
    background-image: url("../images/icon-study.svg");
}

.exercise {
    background-color: #4BCF82;
    background-image: url("../images/icon-exercise.svg");
}

.social {
    background-color: #7335D2;
    background-image: url("../images/icon-social.svg");
}

.self-care {
    background-color: #F1C75B;
    background-image: url("../images/icon-self-care.svg");
}

.card-content {
    padding: 1.5rem 1.3rem;
    border-radius: 1rem;
    color: var(--white);
    background-color: var(--darkBlue);
}

.card-content:hover {
    cursor: pointer;
    background-color: var(--standardDarkBlue);
}

.card-header,
.card-data {
    margin: 0.4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-link {
    display: flex;
    align-items: center;
}

.card-current-data {
    font-size: 1.8rem;
    font-weight: 300;
}

.card-previous-data {
    color: var(--paleBlue);
    font-size: 0.8rem;
}

@media screen and (min-width: 750px) {
    .card-profile {
        grid-row: span 2;
        align-self: stretch;
    }

    .card-bio {
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .card-bio-name span:last-child {
        display: block;
        font-size: 2.2rem;
    }

    .card-timeframes {
        flex-direction: column;
    }

    .button-timeframe {
        padding: 1.5rem 1.7rem;
        text-align: left;
    }

    .card-title {
        font-size: 1rem;
        font-weight: 400;
    }

    .card-data {
        margin-top: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .card-current-data {
        font-size: 3.1rem;
    }

}