*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    max-width: var(--widthDesktop);
    min-height: 100vh;
    padding: 4.5rem 1.3rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--fontSize);
    font-family: var(--fontFamily);
    background-color: var(--veryDarkBlue);
}

main {
    display: grid;
    grid-gap: 1.3rem;
}

h2 {
    font-weight: 100;
}

.card-profile {
    border-radius: 1rem;
    color: var(--paleBlue);
    background-color: var(--darkBlue);
}

.profile-content {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    border-radius: 1rem;
    background-color: var(--blue);
}

.profile-avatar {
    max-width: 4rem;
    border-radius: 50%;
    border: 2px solid var(--white);
}

.profile-text {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 0.8rem;
    font-weight: 300;
}

.profile-name {
    font-size: 1.3rem;
    color: var(--white);
}

.card-timeframes {
    display: flex;
    background: transparent;
}

.button-timeframe {
    flex: 1;
    padding: 1.5rem 0;
    font-size: inherit;
    font-family: inherit;
    border: none;
    background: transparent;
    color: var(--paleBlue);
}

.button-timeframe:hover {
    color: var(--white);
}

.card {
    padding-top: 2.5rem;
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-position: 95% top;
}

.work {
    background-color: var(--softOrange);
    background-image: url("../images/icon-work.svg");
}

.play {
    background-color: var(--softBlue);
    background-image: url("../images/icon-play.svg");
}

.study {
    background-color: var(--softRed);
    background-image: url("../images/icon-study.svg");
}

.exercise {
    background-color: var(--limeGreen);
    background-image: url("../images/icon-exercise.svg");
}

.social {
    background-color: var(--violet);
    background-image: url("../images/icon-social.svg");
}

.self-care {
    background-color: var(--softYellow);
    background-image: url("../images/icon-self-care.svg");
}

.card-content {
    padding: 1.5rem 1.3rem;
    border-radius: 1rem;
    color: var(--white);
    background-color: var(--darkBlue);
}

.card-content:hover {
    cursor: pointer;
    background-color: var(--standardDarkBlue);
}

.card-header,
.card-footer {
    margin: 0.4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-link {
    display: flex;
    align-items: center;
}

.card-current-data {
    font-size: 1.8rem;
    font-weight: 300;
}

.card-previous-data {
    font-size: 0.8rem;
    color: var(--paleBlue);
}

@media screen and (min-width: 800px) {
    body {
        padding: 1rem;
        justify-content: center;
    }

    main {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        align-items: flex-end;
    }

    .card-profile {
        grid-row: span 2;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .profile-content {
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 1.5rem;
    }

    .profile-name {
        margin-top: 0.25rem;
        font-size: 2rem;
    }

    .profile-name span {
        display: block;
        margin-top: 0.25rem;
    }

    .card-timeframes {
        padding: 0.5rem 0;
        flex-direction: column;
    }

    .button-timeframe {
        padding: 1rem;
        text-align: left;
        font-weight: 300;
    }

    .card {
        min-width: 12rem;
    }

    .card-title {
        font-size: 1rem;
        font-weight: 400;
    }

    .card-footer {
        margin-top: 1.3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .card-current-data {
        font-size: 3.1rem;
    }
}