:root {
    --maxWidthMobile: 375px;
    --maxWidthDesktop: 1440px;

    --lightCyan: hsl(193, 38%, 86%);
    --neonGreen: hsl(150, 100%, 66%);
    --neonGreenHover: hsla(150, 100%, 66%, 0.775);
    --grayishBlue: hsl(217, 19%, 38%);
    --darkGrayishBlue: hsl(217, 19%, 24%);
    --darkBlue: hsl(218, 23%, 16%);

    --fonftSize: 16px;
    --fontFamily: 'Manrope', sans-serif;
}